body {
  margin:0px;
  height:100%;
}

.HeaderBar {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #862633;
  color: white;
  font-size: xx-large;
  padding:8px 0px 10px 25px;
}

.topNaviBoxContainer {
  height:500px;
  margin:30px;
  float: right;
}

.bottomNaviBoxContainer {
  height:500px;
  margin:30px;
  float: left;
}


.topNaviBox1 {
  background-color: black;
  color:black;
  width: 100px;
  height:100px;
  margin-right: 25px;
  transition: all 0.35s ease;
  border-radius: 10px 10px 10px 10px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  position: fixed;
  right:0;
  z-index: 1;
}

.bottomNaviBox1 {
  background-color: black;
  color:black;
  width: 100px;
  height:100px;
  margin-left: 25px;
  margin-bottom: 130px;
  transition: all 0.35s ease;
  border-radius: 10px 10px 10px 10px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  position: fixed;
  left:0;
  bottom:0;
  z-index: 1;
}

.toMypage { 
  visibility: hidden;
}


.topNaviBox1:hover{
  width: 200px;
  height: 200px;
  transition: all 0.35s ease;
  border-radius: 10px 10px 10px 10px;
  color:white;
  line-height: 100px;
  text-align: center;
  text-decoration: none;
  visibility: visible;
}

.topNaviBox1:hover .tosignup {
  visibility: visible;
  color: white;
  text-decoration: none;
  transition: all 0.35s ease;
  
}

.bottomNaviBox1:hover{
  width: 200px;
  height: 200px;
  transition: all 0.35s ease;
  border-radius: 10px 10px 10px 10px;
  color:white;
  line-height: 100px;
  text-align: center;
  text-decoration: none;
  visibility: visible;
}

.bottomNaviBox1:hover .toMypage {
  visibility: visible;
  color: white;
  text-decoration: none;
  transition: all 0.35s ease;
  
}

.bottomNaviBox1:hover .toSettings {
  visibility: visible;
  color: white;
  text-decoration: none;
  transition: all 0.35s ease;
  
}

.tosignup {
  color:black;
  text-decoration: none;
}

.toSettings {
  color:black;
  text-decoration: none;
}


