.HeaderBar a {
    text-decoration: none;
    color:white;
}
section {
    color:black;
}

footer {
    height: 100px;
    width: 100%;
    background-color: #862633;
    color:white;
    position: static;
    bottom: 0;
}